<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ExceptionRpt.Properties.Settings.ConnectionString"
            connectionString="Dsn=MON_BRASIL;uid=userid" providerName="System.Data.Odbc" />
    </connectionStrings>
</configuration>